<form action="<%= words_form_action(@word) %>" class="<%= words_form_class(@word) %>" method="post" id="<%= words_form_id(@word) %>">
  <input type="hidden" name="_method" value="<%= words_form_method(@word) %>">
  <div class="form-group">
    <label for="text" class="control-label">Word:</label><br>
    <div>
      <input class="form-control" type="text" name="text" value="<%= @word.text %>" /><br>
    </div>
  </div>
  <div class="form-group">
    <div>
      <input class="btn btn-default" type="submit">
    </div>
  </div>
</form>
